<div class="container mt-5">
  <h1 class="text-center mb-4">🍏 Mercado Modelo</h1>

  <p class="text-center">
    Bienvenido al sistema de gestión de productos
  </p>

  <div class="text-center mt-4">
    <a href="/realtimeproducts" class="btn btn-success">
      Ver productos en tiempo real
    </a>
  </div>
</div>
